@use '../../styles/variables' as vars;
@use 'sass:color';

.card {
  background-color: vars.$card-bg-main;
  max-width: 100%;
}

.button {
  background-color: vars.$button-primary;
  color: white;

  &:hover {
    background-color: color.adjust(vars.$button-primary, $lightness: -10%);
  }
}
