@use '../../styles/variables' as vars;

.button-primary {
  background-color: vars.$button-primary;
  color: white;
  &:hover {
    opacity: 0.9;
  }
  &:disabled {
    background-color: #d1d5db; // Tailwind gray-300
    color: white;
    cursor: not-allowed;
    opacity: 1;
  }
}

.button-outline-primary {
  border: 1px solid vars.$button-primary;
  color: vars.$button-primary;
  background: transparent;
  &:hover {
    background-color: rgba(80, 107, 250, 0.05); // 또는 var(--button-primary) 5% 투명도
  }
}
