@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';
@reference "./global.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sss {
  @apply bg-primary-200;
}

.my-custom-button {
  background-color: #ff6b81;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
