@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source "./node_modules/flowbite-react/dist/esm/**/*.mjs";
@source '../.flowbite-react/class-list.json';
@import 'pretendard/dist/web/static/pretendard.css';
@theme {
  --font-sans: Pretendard, ui-sans-serif, system-ui, sans-serif;
}

:root {
  --first: #0057b8;
  --second: #0081e5;
  --third: #cfe6ff;
  /* --first: #1c64f2;
  --second: #768ef3; */
}

body {
  @apply font-sans;
}
